.chat-room-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 0 1.5rem;
  overflow-y: scroll;
  height: 100%;
}

.chat-room-container h2 {
  margin-top: 0;
}

.chat-room-container-body {
  flex-grow: 1;
  /* overflow-y: scroll; */
  margin-bottom: 0;
}

.chat-room-container-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
