.chat-room-nav-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem 0 1rem;
  border-right: solid 1px black;
  width: 100%;
  overflow-y: scroll;
  position: relative;
}

.chat-room-nav-container h2 {
  margin: 0;
  text-align: center;
}

.chat-room-nav-container-body {
  flex-grow: 1;
}

.chat-room-nav-search-container  {
  margin: 0.5rem 0 1rem 0;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 30%;
  margin-left: 0.75rem;
  color: var(--Clr-Dark-Gray);
  font-size: 1.2rem;
}

.chat-room-nav-search-container input {
  border: thin solid var(--Clr-Light-Gray);
  width: 100%;
  padding: 0.6rem 1rem 0.6rem 2.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  border-radius: 30px;
  color: var(--Clr-Mid-Gray);
  font-size: 0.9rem;
}

.chat-room-nav-container-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-top: 1.5rem;
  background: white;
  border-top: solid 1px black;
}

.chat-room-nav-container-footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.chat-room-nav-container-footer form input[type=submit] {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 20%;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .chat-room-nav-container {
    display: none;
  }
}
