.chat-message {
  max-width: 500px;
  border: thin solid var(--Clr-Light-Gray);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 1rem;
  gap: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px 15px 15px 0;
  margin-right: 1rem;
  animation: popin 500ms backwards;
}

.chat-message-user {
  color: white;
  background: var(--Clr-Dark-Gray);
  border-radius: 15px 15px 0 15px;
  margin-left: 3rem;
  align-self: flex-end;
}

.chat-message p {
  margin: 0;
}

@keyframes popin {
  from {
    transform: translate(25px, 20px);
    opacity: 0;
  }
  to {
    transform: translate(0 0);
    opacity: 1;
  }
}
