.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;;
  border-bottom: 1px solid black;
}

.header-left {

}

.header-left h1 {
  margin: 0;
}

.header-left a {
  color: var(--Clr-Dark-Gray);
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-right .profile-popup-wrapper-btn {
  border: none;
  border-radius: 50%;
  background: none;
}

.header-right-profile-container {
  width: 50px;
  height: 50px;
  border: thin solid var(--Clr-Mid-Gray);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
