*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --Clr-Primary: #22d3ee;
  --Clr-Tertiary: #a5f3fc;
  --Clr-Dark-Gray: #374151;
  --Clr-Mid-Gray: #9ca3af;
  --Clr-Light-Gray: #e5e7eb;
  --Clr-Very-Light-Gray: #f3f4f6;

  --Font-Primary: 'Manrope', sans-serif;
}

/* Style for sticky footer */
html, body, #root {
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

/* Style enclosing element which encloses all react content */
#root {
 display: flex;
 flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font-family: var(--Font-Primary);
}

input {
  font-family: var(--Font-Primary);
}

fieldset {
  border: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
